.header {
  position: relative;
  top: 0%;
}

.top-bar {
  display: none;
}

.full-nav {
  display: none;
}

.welcome {
  color: #ec5242;
  text-align: center;
}

.background {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 28px;
  text-align: center;
  color: #ec5242;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .hamburger {
    border: none;
  }

  nav.active {
    height: 100vh;
    width: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    background-color: #535353;
  }

  .hamburger.active > * {
    display: none;
  }

  .hamburger.active {
    background-image: url("/img/x-menu.png");
    background-size: contain;
    background-repeat: no-repeat;
    align-self: flex-end;
    width: 20px;
    height: 20px;
    margin: 15px;
    background-color: #535353;
  }

  nav.active .full-nav .navbar-brand {
    display: none;
  }

  nav.active .full-nav .links {
    height: 600px;
  }

  nav.active .full-nav .links ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
    padding: 0;
    margin: auto;
    align-items: center;
  }

  nav.active .full-nav .links ul .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 30px;
  }

  nav.active .full-nav {
    display: block;
  }
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: rgb(95, 95, 95);
}

main {
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: center;
  gap: 10px;
}

.main-title {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
}

.mobile {
  background-image: url("../img/main-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.text-1 {
  background-color: white;
  border: none;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-align: center;
}

.about-line {
  display: none;
}

.text-2 {
  display: none;
}

.address {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-align: center;
  max-width: 280px;
  margin: auto;
  font-size: 14px;
}

.logo {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 25px;
  margin-bottom: 40px;
}

.logo-title {
  color: #272a31;
  text-align: center;
  font-size: 20px;
  max-width: 300px;
  margin: auto;
}

.logo-line {
  border: 0;
  background-color: rgb(239, 81, 60);
  height: 5px;
  text-align: center;
  width: 20%;
  margin: auto;
  opacity: 1;
  max-width: 100px;
}

.logo-text {
  text-align: center;
  font-size: 15px;
}

.logo-card {
  text-align: center;
  margin: auto;
  width: 100%;
  border: 2px solid #d4d3d3;
  height: 150px;
  max-width: 400px;
}

.logo-card img {
  min-width: 200px;
  width: 200px;
  max-width: 375px;
  height: 150px;
}

.last-years {
  border-top: 3px solid #bebebe;
  padding-top: 50px;
}

.cities {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cities img {
  min-width: 200px;
  width: 100%;
  max-width: 768px;
}

.partners {
  background-color: rgba(42, 44, 48, 0.9);
  padding: 15px 0 20px 0;
}

.partners-title {
  color: #888686;
  text-align: center;
}

.partner-list {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}

.logos {
  max-width: 80px;
  filter: grayscale(100%);
}

footer {
  display: flex;
  height: 100px;
  max-height: 300px;
  align-items: center;
  padding: 25px;
}

.footer-extra-text {
  display: none;
}

.creative {
  width: 100px;
  height: 75px;
}

ul {
  list-style: none;
}

ul li {
  font-size: 10px;
}

@media screen and (min-width: 768px) {
  .top-bar {
    display: block;
    background-color: #272a31;
    height: 30px;
  }
  
  .top-flex {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: 50px;
    max-width: 2400px;
    padding-right: 50px;
  }

  .top-flex li a{
    color: #fff;
    font-size: 15px;
  }

  .hamburger {
    display: none;
  }

  nav {
    box-shadow: rgb(0 0 0 / 45%) 0 25px 20px -20px;
  }

  .nav-logo {
    max-width: 200px;
    max-height: 80px;
  }

  .full-nav {
    display: inline;
  }

  .full-screen-nav {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    align-items: center;
  }

  .links {
    width: 500px;
  }

  ul {
    list-style: none;
    max-width: 600px;
  }

  ul li {
    font-size: 12px;
    color: #fff;
  }

  .links ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  .nav-links a {
    color: #272a31;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    font-size: 14px;
  }

  .nav-links a:hover {
    color: #ec5242;
    transition: 0.3s;
  }

  .nav-links a:focus {
    outline: 2px solid #ec5242;
    border-radius: 2px;
  }

  .welcome {
    color: #ec5242;
    font-size: 20px;
  }

  .background {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 48px;
    text-align: center;
    color: #ec5242;
    max-width: 1200px;
  }

  .text-1 {
    display: none;
  }

  .about-line {
    display: block;
    border: 0;
    background-color: rgb(239, 81, 60);
    text-align: center;
    width: 20%;
    margin: 15px auto 15px auto;
    opacity: 1;
    max-width: 50px;
  }

  .text-2 {
    display: block;
    background-color: white;
    border: none;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    text-align: center;
    max-width: 800px;
    margin: auto;
    padding: 10px;
    font-size: 15px;
    line-height: 25px;
    width: 80%;
  }

  .media-text {
    display: inline;
  }

  .address {
    max-width: 550px;
    font-size: 14px;
  }

  .logo {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 25px;
    margin-bottom: 40px;
  }

  .logo-title {
    color: #272a31;
    text-align: center;
    font-size: 25px;
    max-width: 600px;
    margin: auto;
  }

  .logo-text {
    text-align: center;
    font-size: 15px;
  }

  .logo-card {
    width: 700px;
    border: 2px solid #d4d3d3;
    height: 250px;
    max-width: 800px;
  }

  .logo-card img {
    max-width: 300px;
    max-height: 250px;
    height: 250px;
    width: 300px;
  }

  .cities {
    flex-direction: row;
    justify-content: center;
  }

  .cities img {
    min-width: 200px;
    width: 100%;
    max-width: 768px;
  }

  .partners {
    display: none;
  }

  footer {
    display: flex;
    padding: 25px;
    background-color: #272a31;
    height: 150px;
    padding-left: 200px;
  }

  .footer-extra-text {
    display: inline;
    font-size: 12px;
  }

  .creative {
    max-width: 400px;
  }
}
