.header {
    position: relative;
    top: 0%;
}

.welcome {
  color: #ec5242;
}


.background {
    background-image: url("../img/title-back.html");
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 900;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: rgb(95, 95, 95);
  }

.main-title {
      font-family: 'Montserrat', sans-serif;
      letter-spacing: 2px;
  }

.mobile {
    background-image: url("../img/main-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.text-1 {
  background-color: hsl(0, 0%, 95%);
  border: 3px solid white;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.date {
    color: #535353;
    font-family: 'Montserrat', sans-serif;
}

.address {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.program {
  background-color: #272a31;
  background-image: url("../img/pattern_bg.png");
  background-repeat: repeat;
  background-size: 75px;
  height: 100vh;
}

.main-border {
  border: 0;
  background-color: rgb(239, 81, 60);
  height: 5px;
  text-align: center;
  width: 20%;
  margin: auto;
  opacity: 1;
}

#main-program {
  text-align: center;
  color: #fff;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 45px;
}

.flex-1 {
  display: flex;
  height: 75px;
  align-items: center;
  margin: 10px 0 10px 0;
  gap: 15px;
  background-color: rgb(83, 83, 83, 0.4);
}

.flex-1 h3 {
  color: rgb(239, 81, 60);
  font-size: 16px;
  max-width: 75px;
  min-width: 75px;
}

.flex-1 p {
  color: white;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

#btn {
  background-color: #ec5242;
  border: 0;
  padding: 20px 25px 20px 25px;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  width: 65%;
  max-width: 85%;
}

#btn:hover {
    background-color: #fff5e1;
    border: #ff6b00;
    color: #ff6b00;
}

